// ----------------- Colors -----------------
$pastel-gray: #cad2c5;
$morning-blue: #84a98c;
$hookers-green: #52796f;
$dark-slate-gray: #354f52;
$japanese-indigo: #2f3e46;
$red: #ec0606;
$white: #fff;
$greyish-white: #f4f4f4;
$focus-color: #f30be4;
$japanese-indigo-transparent: #2f3e46a7;
