// ----------------- Colors -----------------
$pastel-gray: #cad2c5;
$morning-blue: #84a98c;
$hookers-green: #52796f;
$dark-slate-gray: #354f52;
$japanese-indigo: #2f3e46;
$white: rgb(230, 230, 230);
