@forward "colors";
@use "./colors.scss" as *;

// Logo font
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

// Text font
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Fonts
$logo-font: "Leckerli One", cursive;
$text-font: "Roboto", sans-serif;

// z-index
$header-zindex: 1;

// Variables
$border-radius-default: 4px;
$header-height: calc(3.65rem + 2vw);
$header-height-desktop: 7rem;
$box-shadow-default: 0 0 10px $japanese-indigo-transparent;
