@use "../../assets/styles/config.scss" as *;

.modal {
  &__dialog {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: $japanese-indigo-transparent;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $japanese-indigo;
  }

  &__content {
    background-color: $greyish-white;
    width: 95%;
    height: 80%;
    padding: 0 1rem;
    position: relative;
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
  }

  &__title {
    text-transform: capitalize;
    border-bottom: 1px solid $japanese-indigo;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
