@import "../../styles/config.scss";

.header {
  background-color: $white;
  color: $japanese-indigo;
  &__icon {
    font-size: 1.5rem;
  }

  &__logo {
    font-family: $logo-font;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    font-size: 3rem;
  }
}
