@use "../../styles/variables.scss" as *;

.cart-modal {
  height: 80%;
  display: flex;
  flex-direction: column;

  &__with-items {
    justify-content: space-between;
  }

  &__item-list {
    max-height: 90%;
    max-width: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__title {
    border-bottom: 1px solid $japanese-indigo;
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
  }

  &__fallback-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    height: 50%;
  }

  &__price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__clear-cart {
    font-size: 1.2rem;
    padding: 0.3rem;
    border: 1px solid $red;
    color: $red;
    border-radius: $border-radius-default;

    &:hover {
      color: $white;
      background-color: $red;
      cursor: pointer;
    }

    &:focus-visible {
      border-color: $focus-color;
      transform: scale(1.2);
    }
  }

  &__total-price {
    font-weight: bold;
  }

  &__price-span {
    color: $hookers-green;
  }

  &__checkout {
    margin-top: 1rem;
    color: $white;
    background-color: $japanese-indigo;
    font-size: 1.3rem;
    font-weight: bold;

    border: none;
    border-radius: $border-radius-default;
    padding: 0.5rem;

    &:focus-visible {
      border-color: $focus-color;
    }
  }
}
