// ----------------- Colors -----------------
$pastel-gray: #cad2c5;
$morning-blue: #84a98c;
$hookers-green: #52796f;
$dark-slate-gray: #354f52;
$japanese-indigo: #2f3e46;
$white: #fff;
$greyish-white: rgb(244, 244, 244);

$japanese-indigo-transparent: #2f3e46a7;
